/*Global Colors-Variables*/
:root {
  --accent-color: #4d5ae5;
  --accent-clicked-butoon: #404bbf;
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  --primary-background-color: #fff;
  --secondary-background-color: #f4f4fd;
  --dark-background-color: #2e2f42;
}

/*Global page settings begins*/
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  padding: 120px 0 120px 0;
}

.section-no-padding {
  padding: 0;
}

.section-no-top-padding {
  padding: 0;
  padding-bottom: 120px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*list - turn of bullets*/
.list {
  list-style: none;
}

footer {
  background-color: var(--dark-background-color);
  color: var(--primary-background-color);
  padding: 100px 0 100px 0;
}
/*Global page settings ends*/

/*Studio page begins*/

/*Header*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

/*Buttons*/

.button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  border: none;
  padding: 16px 32px 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-clicked-butoon);
}

.button-light {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 24px;
}

.button-light:last-child {
  margin-right: 0;
}

.button-light:hover,
.buton-light:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Header-Logo*/

.logo-footer {
  color: var(--primary-background-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 77px;
}

nav a,
footer a {
  text-decoration: none;
}

.blue-logo {
  color: var(--accent-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Header - main navigation*/

.main-navigation {
  display: flex;
  padding-left: 0;
}

.main-navigation li {
  display: block;
  margin-right: 40px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--accent-color);
}

/*Benefits*/
.benefits {
  display: flex;
  padding-left: 0;
}

.benefits li {
  margin-right: 24px;
  width: 264px;
}

.benefit-icons {
  display: flex;
  background-color: var(--secondary-background-color);
  height: 112px;
  margin-bottom: 8px;
}

.benefit-icon-1 {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 64px;
  margin: auto;
  background-image: url(../images/antenna.svg);
}

.benefit-icon-2 {
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: auto;
  background-image: url(../images/clock.svg);
}

.benefit-icon-3 {
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: auto;
  background-image: url(../images/diagram.svg);
}

.benefit-icon-4 {
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: auto;
  background-image: url(../images/astronaut.svg);
}

.benefits h3 {
  margin-bottom: 8px;
}

.benefits p {
  font-size: 16px;
  line-height: 1.5;
}

.benefits li:last-child {
  margin-right: 0;
}

.services {
  display: flex;
  padding-left: 0;
}

.services li {
  margin-right: 24px;
}

.services li:last-child {
  margin-right: 0;
}

/*Contacts*/
.contacts > a {
  font-family: inherit;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-left: 40px;
}

.contacts > a:hover,
.contacts > a:focus {
  color: var(--accent-color);
}

/*Studio page*/
/*Hero*/

.hero {
  display: flex;
  align-items: center;
  padding: 192px 0 192px 0;
  color: var(--primary-background-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-background-color);
  margin-bottom: 48px;
}

/*What we are doing*/
.heading-second-level {
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 72px;
}

.our-services {
  text-align: center;
}

/*Our Team*/

.our-team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.our-team li {
  height: 380px;
  background-color: var(--primary-background-color);
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team li:last-child {
  margin-right: 0;
}

.our-team-list {
  display: flex;
  padding-left: 0;
}

.our-team-description {
  padding: 32px 0 32px 0;
}

.our-team-list > h3 {
  font-size: 20px;
  line-height: 1.2;
}

.our-team-list h3 {
  margin-bottom: 8px;
}

/*Footer*/
footer {
  display: flex;
  align-items: center;
}
footer p {
  width: 264px;
  margin-top: 16px;
}

.customers{
  text-align: center;
}

.customer-logos{
  display: flex;
}

.customer-logo-first{
  display: flex;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  padding: 16px 32px;
}

.customer-logo-1{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-1.svg);
  background-repeat: no-repeat;
}

.customer-logo-2{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-2.svg);
  background-repeat: no-repeat;
}

.customer-logo-3{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-3.svg);
  background-repeat: no-repeat;
}

.customer-logo-4{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-4.svg);
  background-repeat: no-repeat;
}

.customer-logo-5{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-5.svg);
  background-repeat: no-repeat;
}

.customer-logo-6{
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 56px;
  background-image: url(../images/logo-6.svg);
  background-repeat: no-repeat;
}

/*Studio page ends*/

/*Portfolio page begins*/

.heading-third-level {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/*Portfolio Navigation*/

.portfolio-menu {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-menu li {
  margin-right: 24px;
}

/*Portfolio works*/
.portfolio-items {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-items h2 {
  margin-bottom: 8px;
}

.portfolio-image {
  display: block;
}

.portfolio-description {
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
